@use "@/app/styles/_variables.scss" as *;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin floating {
  animation: float 3s ease-in-out infinite;
}

@mixin link {
  color: $blue_300;
}
