$primary_500: #cc6237;
$primary_400: #cc623780;

$neutro_500: #101010;
$neutro_400: #00000050;
$neutro_300: #252525;
$gray_200: #a3a3a3;

$blue_500: #2a4d8e80;
$blue_500: #09428f2b;
$blue_300: #657593;

$white_400: #ffffff;
$white_500: #f9fbff;
$white_600: #f6f6f6;
$white_700: #f8f8f8;
