@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.container {
  @include center;

  background-color: $white_500;
  width: 100vw;
  height: 100vh;

  .content {
    @include center;
    min-width: 25rem;
    max-width: 756.5px;
    background-color: $white_400;

    padding: 0.625rem;
    margin: 3.75rem auto;
    border-radius: 1.25rem;

    box-shadow: 0px 100px 200px 0px #00000040;

    @include mobile {
      .heroImg {
        display: none;
      }
    }
  }
}
