@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.container {
  @include center;

  width: 100vw;
  height: 100vh;
  background-color: $white_500;

  .content {
    @include center;
    max-width: 756.5px;
    height: 498px;
    background-color: $white_400;

    padding: 0.625rem;
    border-radius: 1.25rem;

    box-shadow: 0px 100px 200px 0px #00000040;

    .heroImg:hover {
      @include floating;
    }

    @include tablet {
      .heroImg {
        display: none;
      }
    }
  }
}
