@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.divider {
  width: 10rem;
  height: 0.063rem;
  opacity: 0.1;
  background-color: $neutro_500;
}

.sidebarFooter {
  padding-top: 2.375rem;

  .userContainer {
    gap: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.313rem;

    .userImage {
      border: 0.125rem solid $primary_500;
      border-radius: 0.938rem;
    }

    .userContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .userName {
      font-weight: 500;
      font-size: 0.875rem;
      color: $black_500;
    }
    .userRole {
      font-weight: 400;
      font-size: 0.688rem;
      color: $black_400;
    }
  }
  .button {
    @include center;
    gap: 0.625rem;
    justify-content: flex-start;
    width: 100%;
    height: 2.188rem;
    padding: 0.625rem;

    cursor: pointer;
    background-color: $white_500;
    border-radius: 6.25rem;

    transition: ease-in 1.5s;

    &:hover {
      background-color: $white_400;
      border: 1px solid $primary_400;
    }

    span {
      font-weight: 500;
      font-size: 0.875rem;
      color: $neutro_300;
    }
  }
}
