@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.container {
  height: 2.5rem;
  width: 18.75rem;
  border-radius: 6.25rem;
  padding: 0.625rem 1.563rem;

  color: $white_500;
  font-weight: 500;
  font-size: 0.813rem;

  cursor: pointer;
  background-color: $primary_500;

  @include mobile {
    width: 100%;
  }
}
