@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.container {
  // @include tablet {
  //   display: none;
  //   background-color: $primary_500;
  // }

  width: 210px;
  height: 100vh;
  padding: 30px 0;

  @include center;
  justify-content: flex-start;
  flex-direction: column;

  background-color: $white_500;
  border-right: 1px solid #0000001a;
}
