@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.form {
  @include center;
  flex-direction: column;
  padding: 1.25rem;
  width: 100%;

  .formHeader {
    margin: 2.188rem 0;
    width: 100%;

    @include mobile {
      margin: 1.25rem 0;
      text-align: center;
    }
  }

  .formContent {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    width: 100%;
  }

  .title {
    font-weight: 700;
    color: $primary_500;
    font-size: 1.375rem;
  }

  .subtitle {
    font-weight: 400;
    color: $blue_500;
    font-size: 0.813rem;
  }
}
