@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.form {
  // @include center;
  display: flex;
  flex-direction: column;

  padding: 2.5rem 1.25rem;

  width: 100%;
  height: 100%;

  @include mobile {
    width: 90%;
    height: 90%;
  }

  .logo {
    width: 100%;
    @include tablet {
      @include center;
    }
  }

  .formHeader {
    margin: 1.875rem 0 2.188rem;
    width: 100%;

    @include tablet {
      margin: 1.25rem 0;
      text-align: center;
    }
  }

  .formContent {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: 700;
    color: $primary_500;
    font-size: 1.625rem;

    @include tablet {
      font-size: 1.375rem;
    }
  }

  .subtitle {
    font-weight: 400;
    color: $blue_500;
    font-size: 0.813rem;
  }
}
