@use "@/app/styles/_mixins.scss" as *;
@use "@/app/styles/_variables.scss" as *;

.tableWrapper {
  width: 100%;
  overflow-x: auto;

  .table {
    min-width: 600px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display: table;
    border-spacing: 0px;

    thead tr {
      font-weight: 500;
      font-size: 13px;
      color: $primary_400;
    }

    tbody tr {
      font-weight: 400;
      font-size: 12px;
      color: $blue_300;

      @include tablet {
        flex-wrap: wrap;
      }

      .button {
        background-color: $white_500;
        cursor: pointer;
        width: 10px;
        height: 10px;
      }
    }

    td {
      padding: 10px 0;
      border-bottom: 1px solid $primary_300;
    }
    td,
    th {
      height: 38px;
      @include tablet {
        text-overflow: ellipsis;
        max-width: 150px;
      }
    }
    .celStatus {
      gap: 9px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .celDate {
      cursor: pointer;
      background-color: $white_500;
    }

    .flexRow {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: relative;
    }

    .status {
      width: 9px;
      height: 9px;
      border-radius: 100%;
    }
    .success {
      background-color: $success_500;
    }
    .error {
      background-color: $error_500;
    }
  }

  .pagination {
    gap: 0.5rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

    @include tablet {
      justify-content: center;
      padding-bottom: 1.5rem;
      flex-wrap: wrap;
    }

    button {
      width: 35px;
      height: 35px;
      padding: 0.625rem 1rem;
      border-radius: 100rem;
      font-size: 0.875rem;
      font-weight: 500;
      transition: all 0.3s ease;
      cursor: pointer;
      background-color: $white_700;

      @include tablet {
        min-width: 100px;
        height: 35px;
        padding: 0.375rem 0.625rem;
        font-size: 0.625rem;
      }

      &.active {
        background-color: $primary_500;
        color: white;
      }

      &.disabled {
        background-color: $white_700;
        color: $black_500;
        cursor: not-allowed;
      }

      &.activePage {
        background-color: $primary_500;
        color: white;
      }
    }
  }
}
